#resume-alert {
    height: 300px;

}

#resume-button {
    color: gray;
    text-shadow: 1px 1px 1px black;
}

#resume-button:hover {
    cursor: pointer;
    background-color: #f2f2f2;
    color: white;

}

#product-count {
    font-size: 50px;
}

#order-count {
    font-size: 50px;
}

.modal-close-icon {
    position: relative;
    right: 30px;
    font-size: 30px;
}